/*=============== ABOUT ===============*/
/* .about {
  background: linear-gradient(to right, #147dd5, #1adcb2) !important;
} */
.about__container {
  row-gap: 2rem;
}
.about__head {
  font-size: var(--big-font-size);
  font-weight: 800;
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.about__img {
  width: 400px;
  justify-self: center;
}

.about__title {
  margin-bottom: var(--mb-1);
}
.about__data {
  align-self: center;
}
.about__description {
  margin-bottom: var(--mb-2);
}

.about__details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
}

.about__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

/*=============== STEPS ===============*/
.steps__bg {
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.steps__container {
  gap: 2rem;
  padding-top: 1rem;
}

.steps__title {
  color: #fff;
}

.steps__card {
  background-color: var(--container-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: 0.3s;
}

.steps__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description {
  font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number {
  transform: translateY(-0.25rem);
}

@media screen and (max-width: 767px) {
  .about__head {
    text-align: center;
  }
  .about__title {
    text-align: center;
  }
  .about__description {
    text-align: justify;
  }
}
