/*=============== HOME ===============*/
.home {
  padding: 3.5rem 0 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
}

.home__img {
  /* width: 200px; */
  justify-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  font-weight: 800;
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-2-5);
}

.home__social {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: 0.3s;
}

.home__social-link:hover {
  transform: translateX(0.25rem);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 35px;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

@media screen and (max-width: 767px) {
  .home__data {
    text-align: center;
  }
  .home__description {
    text-align: justify;
  }
}

@media screen and (min-width: 767px) {
  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding: 10rem 0 5rem;
  }
  .home__container {
    align-items: center;
  }
  .home__img {
    width: 500px;
    order: 1;
  }
  .home__social {
    top: 25%;
  }
}

@media screen and (min-width: 992px) {
  .home {
    padding: 10rem 0 5rem;
  }
  .home__img {
    width: 500px;
  }
  .home__description {
    padding-right: 7rem;
  }
}
@media screen and (min-width: 1200px) {
  .home__social {
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow {
    font-size: var(--small-font-size);
  }
  .home__social-follow::after {
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link {
    font-size: 1.15rem;
  }
}
