#products {
  height: auto;
  padding: 3rem;
}

.pHead {
  width: 100%;
  text-align: center;
}
h1.productHead {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  /* width: 100%; */
  margin-bottom: 40px;
  display: inline-block;
  padding-right: 80px;
  padding-left: 80px;
  color: #1d92f2;
}
h1.productHead::after,
h1.productHead::before {
  position: absolute;
  top: 50%;
  content: "";
  width: 70px;
  height: 4px;
  background: #1d92f2;
}
h1.productHead::before {
  right: 0;
}
h1.productHead::after {
  left: 0;
}

/* .productsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
.card__img img {
  max-width: 100%;
  height: auto;
}
.card__img {
  width: 80%;
  padding: 3rem 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 3.5rem; */
}
.pcard {
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  height: 350px;
  box-shadow: 0 0.5rem 1rem #d1d9e6;
  width: 290px !important;
  transition: 0.5s;
  outline: none !important;
}
.card__img h2.cardHead {
  /* font-size: 18px; */
  text-align: center;
  width: fit-content;
  color: #1d1b4c;
  border-bottom: 1px solid #1d1b4c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px;
  margin-bottom: 30px;
  font-weight: 900;
}
.card__img p {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  color: #39385a !important;
}

.productsWrapper .slick-slide > div {
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
  width: 100%;
}
.card__name {
  position: absolute;
  left: -25%;
  top: 0;
  width: 3.5rem;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  background-image: linear-gradient(to top, #1268dd, #18b4c2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__name a {
  color: #fff;
}

.pcard:hover {
  box-shadow: 0 0.5rem 1rem #00000090;
  width: 300px !important;
}
.pcard:hover .card__name {
  left: 0;
}
.pcard:hover .card__img {
  margin-left: 3.5rem;
  width: 80%;
}

@media screen and (max-width: 767px) {
  #products {
    height: auto;
    padding: 1rem;
  }
  h1.productHead {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .productsWrapper {
    padding: 0 1rem;
  }
}
