#products {
  height: auto;
  padding: 3rem;
}
.pHead {
  width: 100%;
  text-align: center;
}
h1.productHead {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  /* width: 100%; */
  margin-bottom: 40px;
  display: inline-block;
  padding-right: 80px;
  padding-left: 80px;
}
h1.productHead::after,
h1.productHead::before {
  position: absolute;
  top: 50%;
  content: "";
  width: 70px;
  height: 5px;
  background: #00002e;
}
h1.productHead::before {
  right: 0;
}
h1.productHead::after {
  left: 0;
}

/* .productsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
.card__img img {
  max-width: 100%;
  height: auto;
}
.card__img {
  width: 180px;
  height: auto;
  padding: 3rem 0;
  transition: 0.5s;
}
.pcard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background: #ebebeb;
  height: 300px;
  margin: 1.5rem;
  box-shadow: 0 0.5rem 1rem #d1d9e6;
  width: 250px !important;
  transition: 0.5s;
}
.card__img p {
  font-size: 13px;
  text-align: center;
}

.productsWrapper .slick-slide > div {
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}
.card__name {
  position: absolute;
  left: -25%;
  top: 0;
  width: 3.5rem;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  background: #1d1b4c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__name a {
  color: #fff;
}
.pcard:hover {
  box-shadow: 0 0.5rem 1rem #d1d9e6;
  width: 300px !important;
}
.pcard:hover .card__name {
  left: 0;
}
.pcard:hover .card__img {
  margin-left: 3.5rem;
}

@media screen and (max-width: 767px) {
  /* .productsWrapper {
    flex-direction: column;
  } */
}
